:root {
  --htsd-body-bg-color: #383838;
  --htsd-slide-bg-color: #303030;
  --htsd-slide-shadow-color: #1a1a1a;
  --htsd-header-color: #f3f3f3;
  --htsd-highlight-color: #f3f3f3;
  --htsd-text-color: #dcdccc;
  --htsd-line-height: 1.4;
  --htsd-min-font-size: 16px;
  --htsd-min-viewport-width: 800px;
  --htsd-sans-font-family: sans-serif;
  --htsd-mono-font-family: monospace;
  --htsd-comment-code-color: #7f9f7f;
  --htsd-keyword-code-color: #f0dfaf;
  --htsd-symbol-code-color: #bfebbf;
  --htsd-var-code-color: #dfaf8f;
  --htsd-string-code-color: #cc9393;
  --htsd-function-code-color: #93e0e3;
}

/* css reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-family: var(--htsd-sans-font-family);
  font-size: calc(var(--htsd-min-font-size) + 1.4vmin);
}

body {
  visibility: hidden;
}

body.htsd--installed {
  visibility: visible;
  width: 100vw;
  height: 100vh;
  background-color: var(--htsd-body-bg-color);
}

.htsd-slide {
  min-height: 100%;
  padding: 4vh 5vw;
  box-sizing: border-box;
  display: none;
  line-height: var(--htsd-line-height);
  background-color: var(--htsd-slide-bg-color);
  color: var(--htsd-text-color);
  box-shadow: 0 0 4vw var(--htsd-slide-shadow-color);
}

@media (min-width: 800px) {
  .htsd-slide {
    margin: 0 auto;
    width: 90vw;
  }
}

.htsd-slide--shown {
  display: block;
}

.htsd-slide--shown.htsd-slide--h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.htsd-slide h1,
.htsd-slide h2,
.htsd-slide h3,
.htsd-slide p,
.htsd-slide blockquote,
.htsd-slide ul,
.htsd-slide ol {
  margin: 1rem auto;
}

.htsd-slide h1,
.htsd-slide h2,
.htsd-slide h3 {
  color: var(--htsd-header-color);
  font-weight: bold;
}

.htsd-slide h1 {
  font-size: 2.2rem;
}

.htsd-slide h2 {
  font-size: 1.8rem;
}

.htsd-slide h3 {
  font-size: 1.4rem;
}

.htsd-slide ul,
.htsd-slide ol {
  margin-left: 1rem;
}

.htsd-slide ul ::marker {
  color: var(--htsd-header-color);
}

.htsd-slide li {
  margin: 0.5rem 0 0.5rem 0;
}

.htsd-slide a {
  color: var(--htsd-highlight-color);
  text-decoration: underline;
}

.htsd-slide em {
  font-style: italic;
}

.htsd-slide strong {
  font-style: bold;
}

.htsd-slide code {
  color: var(--htsd-highlight-color);
  font-family: var(--htsd-mono-font-family);
}

.htsd-slide pre code {
  color: var(--htsd-text-color);
  font-size: 0.9rem;
  white-space: pre;
  overflow-wrap: normal;
}

.htsd-slide .token.comment,
.htsd-slide .token.prolog,
.htsd-slide .token.doctype,
.htsd-slide .token.cdata {
  color: var(--htsd-comment-code-color);
}

.htsd-slide .token.property,
.htsd-slide .token.tag,
.htsd-slide .token.boolean,
.htsd-slide .token.number,
.htsd-slide .token.constant,
.htsd-slide .token.symbol,
.htsd-slide .token.deleted,
.htsd-slide .token.entity,
.htsd-slide .token.url {
  color: var(--htsd-symbol-code-color);
}

.htsd-slide .token.selector,
.htsd-slide .token.attr-name,
.htsd-slide .token.string,
.htsd-slide .token.char,
.htsd-slide .token.builtin,
.htsd-slide .token.inserted {
  color: var(--htsd-string-code-color);
}

.htsd-slide .token.atrule,
.htsd-slide .token.attr-value,
.htsd-slide .token.keyword {
  color: var(--htsd-keyword-code-color);
  font-weight: bold;
}

.htsd-slide .token.function,
.htsd-slide .token.class-name {
  color: var(--htsd-function-code-color);
}

.htsd-slide .token.regex,
.htsd-slide .token.important,
.htsd-slide .token.variable {
  color: var(--htsd-var-code-color);
}

.htsd-slide .token.important,
.htsd-slide .token.bold {
  font-weight: bold;
}

.htsd-slide .token.italic {
  font-style: italic;
}
